html, body {
    height: 100%;  /* Ensure the entire height is used */
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Disable scrolling */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    font-family: Tahoma, Geneva, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow: hidden; 
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    width: 100%;
    margin-top: auto;
}

.footer p {
    margin: 5px 0;
}

.page-title {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 4rem;
}

.sub-title {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .page-title {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    .page-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .page-title {
        font-size: 1.5rem; 
    }
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.box {
    border: 2px solid rgb(47, 54, 50);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    max-width: 800px;
    margin: 15px auto;
}

form, .additional-content {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}


.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%; 
    top: 70%; 
    transform: translate(-50%, -50%); 
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    animation: fadeInOut 3s;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}